body {
text-align: center;
}
form table {
	margin: 40px auto;
}
.emote-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.emote-container-hover {
	position: absolute;
	width: 100%;
	visibility: hidden;
	z-index: 10;
	vertical-align: middle;
	background: rgba(255,255,255,0.9);
}
.emote-container-hover .cell {
	text-align: center;
}
.emote-container:hover .emote-container-hover {
	visibility: visible;
	min-height: 100%;
	border: 1px dashed #333;
	border-radius: 5px;
}
.emote-container-hover .cell2 {
	font-size: 0.7rem;
}
h3, h2 {
margin: 2em auto;
}