body {
	font-family: "Arial", "Sans";
	font-size: 14px;
}
input[type="text"], input[type="number"], select {
	padding: 5px;
	border-radius: 5px;
	width: 100%;
    border: 1px solid #999;
    box-sizing: border-box;
}
button {
	padding: 5px;
	border-radius: 5px;
}
.display-table {
	display: table;
	width: 100%;
}
.display-row {
	display: table-row;
	width: 100%;
}
.display-cell {
	display: table-cell;
	vertical-align: middle;
}
.header > .display-row > .display-cell {
	padding: 10px;
}
.header .display-cell {
	padding-right: 10px;
}
.hidden-row, .hidden-div, .hidden-fear {
	display: none;
}
.header {
	position: fixed;
	top: 0;
	height: 50px;
	border-bottom: 1px solid #333;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(102,102,102,1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(102,102,102,1);
	box-shadow: 0px 2px 5px 0px rgba(102,102,102,1);
	background: #ffffff;
}
.header-table {
	text-align: center;
}
.first-table {
	margin-top: 150px;
}
.listing-table tr td {
	border-top: 1px solid #bababa;
	border-left: 1px solid #bababa;
}
.listing-table:last-child tr td:last-child {
	border-right: 1px solid #bababa;
}
.listing-table:last-child tr:last-child td {
	border-bottom: 1px solid #bababa;
}
body {
	padding: 0;
	margin: 0;
}
.joinPartyEvent, .expStar {
	display:none;
}
.fightConstruct {
	display:block;
}
.content-row td:nth-child(2),
.content-row td:nth-child(3),
.content-row td:nth-child(4),
.name-row td:nth-child(2) {
	background: #ff9e9e;
}
.content-row td:nth-child(5),
.content-row td:nth-child(6),
.content-row td:nth-child(7),
.name-row td:nth-child(3) {
	background: #cc9caa;
}
.content-row td:nth-child(8),
.content-row td:nth-child(9),
.content-row td:nth-child(10),
.name-row td:nth-child(4) {
	background: #55b7fb;
}
.content-row td:nth-child(11),
.content-row td:nth-child(12),
.content-row td:nth-child(13),
.name-row td:nth-child(5) {
	background: #66de75;
}
.content-row td:nth-child(14),
.content-row td:nth-child(15),
.content-row td:nth-child(16),
.name-row td:nth-child(6) {
	background: #ffd1d1;
}

.event-list td:first-child {
	width: 15%;
}
.event-list td:nth-child(2),
.event-list td:nth-child(3),
.event-list td:nth-child(4),
.event-list td:nth-child(5),
.event-list td:nth-child(6),
.event-list td:nth-child(7),
.event-list td:nth-child(8),
.event-list td:nth-child(9),
.event-list td:nth-child(10),
.event-list td:nth-child(11),
.event-list td:nth-child(12),
.event-list td:nth-child(13),
.event-list td:nth-child(14),
.event-list td:nth-child(15),
.event-list td:nth-child(16) {
	width: 3%;
}
.event-list td:nth-child(17) {
	width: 9%;
	text-align: center;
}
.event-list td:nth-child(19),
.event-list td:nth-child(20),
.event-list td:nth-child(21),
.event-list td:nth-child(22) {
	width: 5%;
	text-align: center;
}
.header button {
	width: 100%;
}

.tdXSmall {
	width: 3%;
}
.tdSmall {
	width: 5%;
}
.tdMid {
	width: 9%;
}
.tdLarge {
	width: 15%;
}

.header .importExportButton {
	width: 47.5%;
	display: inline-block;
}